.bg {
    margin: 0;

    /* The image used */
    background-color: #062333;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    font-size: 300%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

.logo {
    width: 100%
}